// marqueen
.swiper{
  background-color: var(--bs-dark);
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  padding: 16px ;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 3.2px;
  width: auto;
  color: var(--bs-secondary);
  background: var(--bs-dark);
  @include xl{
    padding: 24px 0;
    font-size: 32px;
  }
}