// hover

.hover{
  &--helper-primary{
    &:hover{
      color: var(--bs-helper-primary);
    }
  }
  &--secondary{
    &:hover{
      color: var(--bs-secondary);
    }
  }
  &--helper-third{
    &:hover{
      color: var(--bs-helper-third);
    }
  }
  &-bg{
    &--dark{
      &:hover{
        background-color: var(--bs-dark);
      }
    }
    &--helper-third-darken{
      &:hover{
        background-color: var(--bs-helper-fourth);
      }
    }
  }
  &-border-bottom{
    &--primary{
      &:hover{
        border-bottom: 1px solid var(--bs-primary);
      }
    }
  }
}


// font-size
.fz{
  &-14{
    font-size: 14px;
  }
  &-16{
    font-size: 16px;
  } 
  &-18{
    font-size: 18px;
  } 
  &-20{
    font-size: 20px;
  } 
  &-24{
    font-size: 24px;
  } 
  &-32{
    font-size: 32px;
  } 
  &-48{
    font-size: 48px;
  } 
  &-60{
    font-size: 60px;
  }
  &-md{
    @include md{
      &-14{
        font-size: 14px;
      }
      &-16{
        font-size: 16px;
      } 
      &-18{
        font-size: 18px;
      } 
      &-20{
        font-size: 20px;
      } 
      &-24{
        font-size: 24px;
      } 
      &-32{
        font-size: 32px;
      } 
      &-48{
        font-size: 48px;
      } 
      &-60{
        font-size: 60px;
      }
    }
  }
  &-lg{
    @include lg{
      &-14{
        font-size: 14px;
      }
      &-16{
        font-size: 16px;
      } 
      &-18{
        font-size: 18px;
      } 
      &-20{
        font-size: 20px;
      } 
      &-24{
        font-size: 24px;
      } 
      &-32{
        font-size: 32px;
      } 
      &-48{
        font-size: 48px;
      } 
      &-60{
        font-size: 60px;
      }
    }
  }
  &-xl{
    @include xl{
      &-14{
        font-size: 14px;
      }
      &-16{
        font-size: 16px;
      } 
      &-18{
        font-size: 18px;
      } 
      &-20{
        font-size: 20px;
      }
      &-24{
        font-size: 24px;
      } 
      &-32{
        font-size: 32px;
      } 
      &-48{
        font-size: 48px;
      } 
      &-60{
        font-size: 60px;
      }
    }
  }
}


// font family
.family{
  &-primary{
    font-family: 'Yeseva One', 'Noto Sans TC', sans-serif;
  }
  &-secondary{
    font-family: 'Noto Sans TC', 'Yeseva One', sans-serif;
  }
}


// translate-middle
.translate{
  &-middle{
    transform: translate(-50%, -50%);
  }
}
// rotate
.rotate{
  &-L{
    &-2{
      transform:rotate(-2deg);
    }
  }
  &-R{
    &-2{
      transform:rotate(2deg);
    }
  }
}
// center center + rotate
.rotate-middle{
  &-L{
    &-2{
      transform: translate(-50%, -50%) rotate(-2deg);
    }
  }
  &-R{
    &-2{
      transform: translate(-50%, -50%) rotate(2deg);
    }
  }
}