<div class="bg-helper-third border-3 border-top border-primary">
  <footer class="text-center py-24 py-lg-32">
    <span class="fz-14 fz-lg-16">&copy; 7TAO七逃. All Rights Reserved</span>
  </footer>
</div>
