<div class="my-24 border-3 border-bottom border-primary">
  <div class="container">
    <!-- header section -->
    <header class="d-flex justify-content-between align-items-center py-36">
      <!-- left section -->
      <h1 class="d-flex align-items-center me-4">
        <!-- logo section -->
        <a href="#" class="d-flex">
          <!-- logo -->
          <div class="me-16 me-md-24 header-logo">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
              alt="logo圖。黃色背景，裡面是黑色光芒圖案。"
            />
          </div>
          <!-- logo text -->
          <div class="d-none d-md-flex align-items-center me-md-48">
            <span class="fs-2 me-4">7TAO</span>
            <span class="item-text">活動訂票網</span>
          </div>
        </a>
        <!-- 探索活動 -->
        <section>
          <!-- search bar -->
          <div class="border border-2 border-primary">
            <form
              action="#"
              class="header-searchBar d-flex justify-content-between"
            >
              <input
                type="text"
                name="searchBar"
                id="searchBar"
                placeholder="探索活動"
                class="ps-12 py-8 ps-md-24 py-md-16 bg-helper-third border-0"
              />
              <button type="submit" class="border-0 bg-primary">
                <i class="icofont-search-1 text-secondary"></i>
              </button>
            </form>
          </div>
        </section>
      </h1>
      <!-- right section -->
      <div>
        <nav>
          <a href="#" class="d-lg-none"
            ><div class="menu-btn hover-bg--helper-third-darken"></div
          ></a>
          <div class="d-none d-lg-block">
            <ul class="d-flex align-items-center">
              <li class="nav-item me-24">
                <a
                  href="#"
                  class="d-flex align-items-center hover-border-bottom--primary"
                >
                  <i class="icofont-ui-file me-4"></i>
                  <span class="item-text">REGISTER</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="d-flex align-items-center hover-border-bottom--primary"
                >
                  <i class="icofont-ui-user me-4"></i>
                  <span class="item-text">LOGIN</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>
</div>
