<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>活動訂票網 | 所有活動</title>
  </head>
  <body class="bg-helper-third">
    <%- include('./layout/header'); -%>
    <main class="container">
      <!-- event-title -->
      <div class="mt-16 mb-12 my-xl-32">
        <div class="section-label text-primary">
          <p class="section-title me-9">EVENT</p>
          <span class="section-subtitle">所有活動</span>
        </div>
      </div>

      <!-- event-labels -->
      <div class="mb-32">
        <ul class="list-label d-flex flex-wrap gap-8 mb-12 mb-xl-32">
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">演出</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">音樂</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">舞蹈</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">戲劇</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">音樂會</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">課程講座</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">社群活動</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">展覽</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">研討會</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">電影</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">電音派對</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">遊戲競賽</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">親子</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">藝文活動</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">運動</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">交通旅遊</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">美食</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">資訊科技</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">聯誼</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">戶外</p>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link">
              <div class="sideBar"></div>
              <p href="#" class="content">線上活動</p>
            </a>
          </li>
        </ul>
      </div>

      <!-- event-cards -->
      <div class="mb-32 mb-xl-60">
        <ul class="row gy-24 gy-xl-48 gx-xl-24">
          <!-- card-01 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">19 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true"
                  alt="四個人摀著眼睛（或是半遮著眼睛）露出害怕的表情，且他們都在看前方的東西。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">邪典電影派對——房間</h2></a
                >
                <p class="item-body-content">
                  你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                  製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">社群活動</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>
          <!-- card-02 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">23 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true"
                  alt="兩個人物質部份重疊，做出相同的腳步動作：右腳顛起來，左腳往後勾；其中，左邊的女生雙手舉到頭上，比出像開槍一樣的手勢，有嘻哈感；右邊的男生則是一手彎起來，一手伸直，兩手在同一個水平面上。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">怪舞俱樂部</h2></a
                >
                <p class="item-body-content">
                  覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">演出</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">檢視活動</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>
          <!-- card-03 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">30 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true"
                  alt="一男一女坐在戶外的沙發上用投影幕看電影，但目前他們正在看著對方聊天。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">哈利波特馬拉松</h2></a
                >
                <p class="item-body-content">
                  每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">聯誼</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>
          <!-- card-04 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">12 JUNE 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true"
                  alt="一顆在沙灘上的排球，他的顏色是黃白交錯的。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">皮卡丘排球大賽</h2></a
                >
                <p class="item-body-content">
                  還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">遊戲競賽</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>
          <!-- card-05 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">25 JUNE 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true"
                  alt="三個人舉起酒杯，正在做乾杯的動作。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">酒精路跑</h2></a
                >
                <p class="item-body-content">
                  身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">社群活動</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-06 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">9 JUNE 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true"
                  alt="一個白色牆壁組成的空間，牆壁上掛滿了畫。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">展覽——我的房間</h2></a
                >
                <p class="item-body-content">
                  每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">展覽</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-07 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">19 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/07.jpg?raw=true"
                  alt="一群人在森林裡的某個空曠的地方舉辦音樂會，音響設備都已經架設好。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">野營音樂營</h2></a
                >
                <p class="item-body-content">
                  喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過
                  15 項體驗與工作坊、新興音樂人的草地演唱。
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">演出</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-08 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">19 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/08.jpg?raw=true"
                  alt="一群長型的石頭被疊起來，放在海邊沙灘上。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">疊疊樂大賽</h2></a
                >
                <p class="item-body-content">
                  來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">遊戲競賽</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-09 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">18 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true"
                  alt="一群穿著藍白顏色的學生制服、揹著背包的學生往鏡頭的左邊走去。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">返老還童-制服聯誼</h2></a
                >
                <p class="item-body-content">
                  由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">聯誼</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">檢視活動</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-10 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">19 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/10.jpg?raw=true"
                  alt="一個橘色的鍋子放在木柴上煮料理。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">野外求生17天</h2></a
                >
                <p class="item-body-content">
                  野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">戶外</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-11 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">19 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/11.jpg?raw=true"
                  alt="白天一群人坐在草地上聽前方樂團演奏的音樂，鏡頭聚焦在離鏡頭最近的三個人。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">耳熟能詳音樂祭</h2></a
                >
                <p class="item-body-content">
                  對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當
                  KTV 跟著唱，唱不出來服務台報到立馬退費！
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">演出</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- card-12 -->
          <li class="col-md-6 col-lg-4">
            <div href="#" class="card-upImgDownText">
              <p class="item-header">19 MAY 2023</p>
              <div class="item-banner ratio ratio-8x5">
                <img
                  class="object-fit-cover"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/12.jpg?raw=true"
                  alt="一個人坐在橘黃色帳篷旁邊，右手拿著一個露營鋼杯，頭上戴淺色露營帽。"
                />
              </div>
              <div class="item-body">
                <a href="#" class="hover--helper-primary"
                  ><h2 class="item-body-title">野營發呆大賽</h2></a
                >
                <p class="item-body-content">
                  你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
                </p>
              </div>
              <div class="item-footer">
                <a href="#" class="d-flex align-items-center">
                  <div class="me-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                      alt="黑色的光芒圖案。"
                      width="24px"
                      height="24px"
                    />
                  </div>
                  <span class="item-footer-label">遊戲競賽</span>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <span class="item-footer-check me-4">開賣中</span>
                  <i class="icofont-double-right"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- pagination -->
      <div class="d-flex justify-content-center mb-48 mb-xl-60">
        <ul class="pagination">
          <li class="item">
            <a href="#" class="item-content item-content-sign">
              <i class="icofont-arrow-left"></i>
            </a>
          </li>
          <li class="item">
            <a href="#" class="item-content item-content-text">1</a>
          </li>
          <li class="item">
            <a href="#" class="item-content item-content-text active">2</a>
          </li>
          <li class="item">
            <a href="#" class="item-content item-content-text">3</a>
          </li>
          <li class="item">
            <a href="#" class="item-content item-content-text">4</a>
          </li>
          <li class="item">
            <a href="#" class="item-content item-content-text">5</a>
          </li>
          <li class="item">
            <a href="#" class="item-content item-content-sign">
              <i class="icofont-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
